---
import Layout from "../layouts/Layout.astro";
import { SITE } from "../site.config";
---
<Layout title="Home" description={`Fine art and wedding photography by ${SITE.name}.`}>
  <div data-home-page>
    <section class="home-landing home-landing--atelier" data-home-landing>
      <section id="home-film" class="atelier-film hidden" data-atelier-film aria-label="Galleries">
        <div class="atelier-film__track" data-atelier-film-track></div>
      </section>
    </section>
  </div>
  <script>
    import "../scripts/home-page.ts";
  </script>
</Layout>
