---
/** Redirect old /admin URL to galleries management */
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0;url=/galleries?manage=1" />
    <link rel="canonical" href="/galleries?manage=1" />
    <title>Redirecting…</title>
  </head>
  <body>
    <p><a href="/galleries?manage=1">Continue to galleries</a></p>
  </body>
</html>
